# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Environment Variables (CRITICAL)
.env
.env.local

# Database
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db


*.pyc
nexus.db

